
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= line_chart metric %>
<br>
<p style="margin-left: 400px; font-size: 1.8em; color: #0066CC">Biểu đồ lượt xem của trang</p>

<%= pie_chart pie_chart_data%>
<br>
<p  style="margin-left: 400px; font-size: 1.8em; color: #0066CC">Biểu đồ tỉ lệ lượt xem của các chuyên mục</p>
