// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

.ccr-article {
  border-top: 1px solid #e3e2e2;
  border-bottom: 1px solid #e3e2e2;
  padding: 20px 10px 10px 20px;

  margin-bottom: 40px;
  background-color: cornsilk;
}
.sidebar_section{
  width: 280px;
//  padding-right: -100px;
//  margin-left: -100px;
}

body.active_admin form input[type="submit"] {
  display: inline-block;
  margin-right: 3px;
  padding: 7px 16px 6px;
  cursor: pointer;

  background-color: #7FBF4D;
  background: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
  background: -webkit-gradient(linear, left top, left bottom, from(#7FBF4D), to(#63A62F));

  border-color: #63A62F #63A62F #5B992B;
  border-image: none;
  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #96CA6D inset;

  color: #FFFFFF;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 12px;
  text-shadow: 0 -1px 0 #4C9021;
  text-decoration: none;
}


body.active_admin form input[type="submit"]:hover:not(.disabled) {
  background-color: #76B347;
  background: -moz-linear-gradient(center top , #76B347, #5E9E2E);
  background: -webkit-gradient(linear, left top, left bottom, from(#76B347), to(#5E9E2E));
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #8DBF67 inset;
}
