// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap.min";
@import "bootstrap-theme.min";
@import "style";
@import "font-awesome.min";
@import "style_registerform";
@import "pagination";
@import "bootstrap-responsive";
@import "app";
@import "hover";


