<!--<aside id="ccr-footer-sidebar">-->
  <!--<div class="container">-->

    <!--<ul>-->
      <!--<li class="col-md-8">-->

        <!--<br><br>-->
         <!--<p> Cơ quan của TW Hội Khuyến học Việt Nam</p>-->
         <!--<p> Giấy phép hoạt động báo điện tử Dân trí trên Internet số 378/GP - BTTTT Hà Nội, ngày 16-09-2013.</p>-->
         <!--<p> Tòa soạn: Số 2 (nhà 48) Giảng Võ, Quận Đống Đa, Hà Nội</p>-->
        <!--<p>  Điện thoại: 04-3736-6491. Fax: 04-3736-6490</p>-->
         <!--<p> Email: info@dantri.com.vn. Website: http://www.dantri.com.vn</p>-->

      <!--</li>-->
      <!--<li class="col-md-4">-->

<!--<br><br>-->
       <!--<p> Đơn vị quảng cáo:</p>-->

       <!--<p> 01287 078 866 (Ms.Luận)</p>-->

      <!--<p>  Email: quangcao@admicro.vn</p>-->

        <!--<p>Tel: 844 39748899 Ext:2233 Website: www.admicro.vn</p>-->

      <!--<p>  Hỗ trợ và CSKH: 01268 269 779 (Ms. Thơm)</p>-->

      <!--<p>  Các mảng: gia đình - công nghệ - game - giải trí , xã hội.</p>-->

      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

<!--</aside> &lt;!&ndash; /#ccr-footer-sidebar &ndash;&gt;-->


<footer id="ccr-footer">
  <div class="container">
   <div class="col-md-8">
     <br>
     <p style="color:#FFFEFE;font-weight: bold"> Công ty giải pháp công nghệ MQ ICT Solution</p>
     <p> Giấy phép hoạt động báo điện tử Daily News trên Internet số 378/GP - BTTTT Hà Nội, ngày 16-09-2013.</p>
     <p> Tòa soạn: Số 132 Hai Bà Trưng, Hà Nội</p>
     <p> Điện thoại: 04-3436-6491. Fax: 04-3116-6490</p>
     <p> Email: info@dailynews.com.vn. Website: http://www.dailynews.com.vn</p>
     <br>
   </div>
<div class="col-md-4" style="margin-top: 90px;">
    <div class="footer-social-icons">
      <ul>
        <li>
          <a href="https://plus.google.com"  class="google-plus"><i class="fa fa-google-plus"></i></a>
        </li>
        <li >
          <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li >
          <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li >
          <%= link_to home_rss_page_path, class:"linkedin" do %>
              <i class="fa fa-rss"></i>
          <% end %>
        </li>
      </ul>

    </div><!--  /.cocial-icons -->
</div>
  </div> <!-- /.container -->
</footer>  <!-- /#ccr-footer -->