<div style="background-color: #282c2d;">
  <div class="container" style="height: auto">
    <ul>
      <li >
        <p style="color:#FFFEFE;font-weight: bold"> Công ty giải pháp công nghệ MQ ICT Solution</p>
        <p style="color:#FFFEFE"> Giấy phép hoạt động báo điện tử Daily News trên Internet số 378/GP - BTTTT Hà Nội, ngày 16-09-2013.</p>
        <p style="color:#FFFEFE"> Tòa soạn: Số 132 Hai Bà Trưng, Hà Nội</p>
        <p style="color:#FFFEFE"> Điện thoại: 04-3436-6491. Fax: 04-3116-6490</p>
        <p style="color:#FFFEFE"> Email: info@dailynews.com.vn.</p>
        <p style="color:#FFFEFE">Website: http://www.dailynews.com.vn</p>
       </li>
    </ul>
    <ul>
      <div class="footer-social-icons">
        <ul>
          <li>
            <a href="https://plus.google.com"  class="google-plus"><i class="fa fa-google-plus"></i></a>
          </li>
          <li >
            <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li >
            <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li >
            <%= link_to home_rss_page_path, class:"linkedin" do %>
                <i class="fa fa-rss"></i>
            <% end %>
          </li>
        </ul>
      </div><!--  /.cocial-icons -->
    </ul>
  </div>
</div> <!-- /#ccr-footer-sidebar -->
